<div class="col-md-10 mx-auto" style="margin-bottom: 32px">
  <h1 id="page-heading" data-cy="CategoriaHeading">
    <span>Ficha Técnica</span>
  </h1>
</div>
<div (click)="scrollToTop()" class="scroll-to-top" *ngIf="pageYoffset > 61">
  Ir para o topo
  <i class="fas fa-level-up-alt"></i>
</div>
<div class="col-md-10 mx-auto" style="margin-bottom: 32px">
  <h4>
    <p>
      A edição do Catálogo do Múseu de Física do ISEL, <i>Da Physica à Engenharia</i>, na forma de CD interativo, foi realizada pela Área
      Científica de Física, aquando das comemorações do ano internacional de Física, 2005, e agora atualizada para versão web em 2021.
    </p>
  </h4>
  <br />
  <h5><b>Coordenação e revisão</b></h5>
  <p>António Manuel Casaca, Catarina Almeida da Rosa Leal e Maria Filomena Bento</p>
  <br />
  <h5><b>Pesquisa de elementos e elaboração das fichas descritivas dos instrumentos</b></h5>
  <p>António Manuel Casaca, Maria Filomena Bento e Maria Susana Marreiros</p>
  <h5><p>com a colaboração de Carlos César Rodrigues e Mário Moreira</p></h5>
  <br />
  <h5><b>Apoio Logístico</b></h5>
  <p>Raquel Grazina, Sandra Ferreira, Sara Tanackovic e Telma Silva</p>
  <br />
  <h5><b>Música</b></h5>
  <p>
    <i>Apresentação</i> - João Domingos Bomtempo, <i>Te Deum</i>, excerto do 1º andamento, Hungarian Radio and Televison Chorus, Hungarian
    State Orchestra
  </p>
  <p>
    <i>Menu Principal, Instrumentos e Índice</i> - Carlos Seixas, <i>Sonata para cravo</i>, nº8, 20, 26, 7, solista Cremilde Rosado
    Fernandes - Apenas disponivel no CD
  </p>
  <p><i>História</i> - Carlos Seixas, <i>Sonotas para cravo</i>, nº16, Solista Cremilde Rosado Fernandes - Apenas disponivel no CD</p>
  <p>
    <i>Bibliografia</i> - Francisco Xavier Baptista, <i>Sonata para pianoforte</i>, Solista Cremilde Rosado Fernandes - Apenas disponivel no
    CD
  </p>
  <br />
  <h5><b>Concepção gráfica e programação - CD</b></h5>
  <p>O Gabinete, Design e Comunicação lda.</p>
  <br />
  <h5><b>Concepção gráfica e programação - Aplicação Web</b></h5>
  <p>Projeto Final de Curso LEIM, ISEL, 2021: Daniel Marques, Rui Martins com orientação de: Rui Jesus e Catarina Almeida da Rosa Leal</p>
  <br />
  <h5><b>Perguntas sobre instrumentos - Quiz</b></h5>
  <p>António Manuel Casaca e Catarina Almeida da Rosa Leal</p>
  <br />
  <h5><b>Fotografia</b></h5>
  <p>Mike Sergeant</p>
  <br />
  <h5><b>Agradecimentos</b></h5>
  <p>A ACF quer expressar o seu agradecimento:</p>
  <p>ao Conselho Directivo do ISEL, pelo seu apoio a esta iniciativa, ao contribuir financeiramente para a sua realização;</p>
  <p>
    à Escola Superior de Música de Lisboa, na pessoa da sua Directora Professora Cremilde Rosado Fernandes pela cedência das peças musicais
    reproduzidas nesta aplicação.
  </p>
</div>
