/* cor do titulo */
h1 {
  color: #383e42;
}

.btn {
  color: #e8e8e8;
  font-size: 1rem !important;
  outline: none !important;
  box-shadow: none !important;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active {
  background-color: #6c757d !important;
  color: #ffffff;
  font-weight: bold;
}

.btn-outline-secondary:not(:disabled):not(.disabled):hover {
  background-color: #c4c4c4;
  color: #383e42;
  font-weight: bold;
}

.btn-outline-secondary:not(:disabled):not(.disabled) {
  color: #515a5a;
}
.card li {
  background-color: #ffffff;
  color: #515a5a;
}

.card li:hover {
  background-color: #c4c4c4;
  color: #383e42;
  font-weight: bold;
}
