<div class="col-md-10 mx-auto" style="margin-bottom: 32px" *ngIf="!modulogamificacao">
  <h1 class="page-heading">Esta página não existe.</h1>
</div>
<div (click)="scrollToTop()" class="scroll-to-top" *ngIf="pageYoffset > 61">
  Ir para o topo
  <i class="fas fa-level-up-alt"></i>
</div>
<div *ngIf="modulogamificacao">
  <div class="row justify-content-center">
    <div class="col-md-8" *ngIf="account$ | async as account">
      <h2>
        Palavra-passe para <strong>{{ account.login }}</strong>
      </h2>

      <div class="alert alert-success" *ngIf="success">
        <strong>A palavra-passe foi alterada!</strong>
      </div>

      <div class="alert alert-danger" *ngIf="error"><strong>Ocorreu um erro!</strong> A palavra-passe não foi alterada.</div>

      <div class="alert alert-danger" *ngIf="doNotMatch">As novas palavras-passe não correspondem!</div>

      <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
        <div class="form-group">
          <label class="form-control-label" for="currentPassword">Palavra-passe</label>
          <input
            type="password"
            class="form-control"
            id="currentPassword"
            name="currentPassword"
            placeholder="A sua palavra-passe"
            formControlName="currentPassword"
            data-cy="currentPassword"
          />

          <div
            *ngIf="
              passwordForm.get('currentPassword')!.invalid &&
              (passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="passwordForm.get('currentPassword')?.errors?.required">
              Tem de introduzir a sua palavra-passe.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="newPassword">Nova palavra-passe</label>
          <input
            type="password"
            class="form-control"
            id="newPassword"
            name="newPassword"
            placeholder="A nova palavra-passe"
            formControlName="newPassword"
            data-cy="newPassword"
          />

          <div
            *ngIf="
              passwordForm.get('newPassword')!.invalid &&
              (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required">
              Tem de introduzir a sua nova palavra-passe.
            </small>

            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
              A sua nova palavra-passe tem que ter pelo menos 4 caracteres.
            </small>

            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
              A sua nova palavra-passe não pode ter mais que 50 caracteres.
            </small>
          </div>

          <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="confirmPassword">Confirme a sua nova palavra-passe</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="Introduza a nova palavra-passe novamente"
            formControlName="confirmPassword"
            data-cy="confirmPassword"
          />

          <div
            *ngIf="
              passwordForm.get('confirmPassword')!.invalid &&
              (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
              Tem que confirmar a sua nova palavra-passe.
            </small>

            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
              A sua nova palavra-passe tem que ter pelo menos 4 caracteres.
            </small>

            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
              A sua nova palavra-passe não pode ter mais que 50 caracteres.
            </small>
          </div>
        </div>

        <button type="submit" [disabled]="passwordForm.invalid" class="btn pl-0" data-cy="submit">
          Guardar
          <i class="fas fa-save"></i>
        </button>
      </form>
    </div>
  </div>
</div>
